<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link href="/public/main.css" rel="stylesheet" />
        <script
            src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"
            defer
        ></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
